<div class="row">
  <div class="col">
    <h1>Welcome to {{ title }}!</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <nav>
      <ul class="nav nav-tabs">
          <li *ngFor="let routeLink of routeLinks; let i = index;" class="nav-item">
            <a class="nav-link " href="#" routerLinkActive="active" #rla="routerLinkActive" [routerLink]="routeLink.link" [routerLinkActiveOptions]="{exact: true}">{{routeLink.label}}</a>
          </li>
          <!-- <a *ngFor="let routeLink of routeLinks; let i = index;" [routerLink]="routeLink.link"
            routerLinkActive="mat-tab-link-active" #rla="routerLinkActive" [active]="activeLinkIndex === i"
            (click)="activeLinkIndex = i" [routerLinkActiveOptions]="{exact: true}">
            {{routeLink.label}}
          </a> -->
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
